.comment__box {
    margin: 10px 0;
    padding: 10px;
    background-color: #F0F2F5;
    border-radius: 20px;
}

.comment__user {
    display: flex;
    align-items: center;
}

.comment__user img {
    margin-right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.comment__user h5 {
    color: #EEBB3E;
}

.comment__body {
    color: #797D9A;
}