.banner {
    height: 350px;
}

.banner img{
    height: 350px;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.banner__text {
    position: absolute;
    top: 35%;
    left: 50%;
    color: #1B1A07;
    transform: translate(-50%, -50%);
}

.banner__text__title {
    text-transform: uppercase;
}