.post__details{
    border-radius: 10px;
    box-shadow: 0 2px 5px #ddd;
}

.post__details__post {
    margin: 10px 0;
    padding: 3%;
}

.post__details__title {
    text-transform: capitalize;
    color: #1B1A07;
}

.post__details__body {
    color: #797D9A;
}

.dream__color {
    color: #797D9A;
}

.comment__share {
    padding: 5px 30px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
